<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WillDevRise</title>
    <link rel="stylesheet" href="../css/home.css">
    <script type="module" defer src="../js/home.js"></script>
</head>
<body>
    <div class="header">
        <h2><a href="../index.html" target="_blank" rel="noopener noreferrer">inicio</a></h2>
        <div class="mid-spot" onclick="document.body.classList.toggle('gold');"></div>
        <button class="contact-btn">
          <span class="glow"></span>
          <span class="contact-btn-content">Contact Us</span>
        </button>
      
        <div class="spotlight">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      
      <canvas id="particleCanvas"></canvas>
      
      <div class="accent-lines">
        <div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="heroSubP">
        <p>Introducing</p>
      </div>
      <div class="hero">
        <div class="heroT">
          <h2>WillDevRise</h2>
          <h2>WillDevRise</h2>
        </div>
      </div>
      <p class="heroP">The world's best platform, <br>
        powered by EclipxOS + React.</p>
      <div class="mountains">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="hero-spacer"></div>
      
      <div class="content-section">
        <div class="content-acc">
          <div></div>
          <div></div>
        </div>
</body>
</html>