<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WillDevRise</title>
    <link rel="stylesheet" href="../css/home.css">
    <script type="module" defer src="../js/home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.js"></script>
</head>
<body>
    <div class="header">
        <h2><a href="../index.html" target="_blank" rel="noopener noreferrer">inicio</a></h2>
        <div class="mid-spot" onclick="document.body.classList.toggle('gold');"></div>
        <button class="contact-btn">
          <span class="glow"></span>
          <span class="contact-btn-content">Contact Us</span>
        </button>
      
        <div class="spotlight">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      
      <canvas id="particleCanvas"></canvas>
      
      <div class="accent-lines">
        <div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="heroSubP">
        <p>Introducing</p>
      </div>
      <div class="hero">
        <div class="heroT">
          <h2>WillDevRise</h2>
          <h2>WillDevRise</h2>
        </div>
      </div>
      <p class="heroP">Junior fullstack developer<br>
        Transformo ideas en experiencias digitales, construyendo cada línea de código para conectar el futuro con el presente..</p>
      <div class="mountains">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <!-- este es la parte de la mision y la vision  -->
      <div class="hero-spacer"></div>

      <div class="content-section" id="Mision">
        <div class="content-container">
            <div class="image-section">
                <img src="../storage/img/Mision.png" alt="Descripción de la imagen" />
            </div>
            <div class="text-section">
                <h3 class="title">Mi Misión.</h3>
                <span>Mi objetivo es transformar la infraestructura digital de pequeñas y medianas empresas
                    a través de soluciones tecnológicas innovadoras y personalizadas.
                    Me especializo en el desarrollo de aplicaciones web y sistemas de gestión
                    que impulsan el crecimiento y la eficiencia.</span>
            </div>
        </div>
        <div class="navegacion">
            <button class="nav-button prev">⬅️</button>
            <button class="nav-button next">➡️</button>
        </div>
    </div>
    
    <div class="content-section" id="Vision" style="display: none;">
        <div class="content-container">
            <div class="image-section">
                <img src="../storage/img/Vision.png" alt="Descripción de la imagen" />
            </div>
            <div class="text-section">
                <h3 class="title">Mi Visión.</h3>
                <span>Ser reconocido como un líder en el desarrollo fullstack, creando un impacto positivo en el mundo tecnológico...</span>
            </div>
        </div>
        <div class="navegacion">
            <button class="nav-button prev">⬅️</button>
            <button class="nav-button next">➡️</button>
        </div>
    </div>
    
    <div class="content-section" id="Valores" style="display: none;">
        <div class="content-container">
            <div class="image-section">
                <img src="../storage/img/Valores.png" alt="Descripción de la imagen" />
            </div>
            <div class="text-section">
                <h3 class="title">Mis Valores.</h3>
                <span>1. Trabajo en equipo <br> 2. Creatividad <br> 3. Innovación <br> 4. Compromiso <br> 5. Respeto <br> 6. Empatía <br> 7. Profesionalismo</span>
            </div>
        </div>
        <div class="navegacion">
            <button class="nav-button prev">⬅️</button>
            <button class="nav-button next">➡️</button>
        </div>
    </div>
    <div class="contentSsectionObjetivos">
      <div class="content-acc">
        <div></div>
        <div></div>
      </div>
      <p class="subt">William Sepulveda</p>
      <h3 class="title">Objetivos profesionales</h3>
            <p class="subp">Como profesional, me dedico a brindar soluciones efectivas a problemáticas sociales, 
              siendo parte de un grupo comprometido con el cambio. Mi negocio se centra en simplificar y embellecer
              la vida de las personas mediante tecnología personalizada. Mi público objetivo son aquellos dispuestos
              a generar un cambio exponencial en sus vidas. Mi razón de ser es utilizar mi pasión por la programación
              para ayudar a otros a superar obstáculos, inspirándome en figuras que han demostrado innovación, esfuerzo y humildad.
              Ofrezco mis servicios a diversas empresas y microempresas que buscan impulsar sus ideas con soluciones tecnológicas personalizadas.
            </p>
    </div>
    
    
</body>
</html>